.navbar {
    display: grid;
    grid-template-columns: 8fr auto auto;
    margin-top: 15px;
    align-items: center;
}

.navbar .brand {
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar .brand img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    padding-top: 5px;
}

.navbar a {
    margin-left: 15px;
    text-align: right;
}

.navbar a:first-of-type {
    margin-left: 0;
    text-align: left;
}